.gradle
build/
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target

.settings
bin/
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
